<div>
<audio autoplay="autoplay" hidden="true">
  <source src="../assets/level_up.ogg" type="audio/ogg" />
  <source src="../assets/level_up.mp3" type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>
</div>
